body{
  background-image: url("HD-wallpaper-aura-aura-color-thumbnail.jpg");
  background-size: cover;
  font-family: 'Syne', sans-serif;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox{
  background-color: #FFCF96;
}

img:hover{
  border-radius: 140px;
  }
  
  .copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    }